.register-product-main-div {
    overflow-x: hidden;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.register-product-main-div label {
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.register-product-main-div input {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register-product-main-div textarea {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    margin-top: 0.2rem;
    margin-right: 0.6rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-name-price-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-description-div {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    margin-left: 1rem;
}

.input-flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.price-value-div {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.input-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.1rem;
}

.product-confirm-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 0.4rem;
    width: 6%;
    margin-top: 20px;
}

.add-product-button {
    width: 50px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    padding-top: 3px;
}

.product-confirm-button-div button:hover {
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.price-raw-value-div {
    flex: 2 0 0;
    margin-right: 0.3rem;
    width: 100%;
}

.price-value-modifier-div {
    display: flex;
    flex: 1 0 0;
    flex-direction: row-reverse;
    width: 100%;
}

#productPrice {
    width: 96%;
}

#discountCalc {
    width: 92%;
}

@media screen and (max-width: 667px) {
    #productPrice {
        width: 100%;
    }
    #discountCalc {
        width: 100%;
    }

    .register-product-main-div {
        flex-direction: column;
        position: relative;
        width: 70vw;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        margin-bottom: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .price-value-div {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .product-name-price-div {
        width: 100%;
        gap: 0;
        padding: 0;
    }
    .product-price-div {
        width: 100%;
    }
    .price-raw-value-div {
        width: 100%;
    }
    .input-flex-column {
        width: 100%;
    }
    .price-raw-value-div,
    .price-value-modifier-div {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .price-value-div input {
        width: 100%;
        box-sizing: border-box;
    }
    .product-description-div {
        margin-top: 1rem;
        margin-left: 0;
        width: 100%;
        height: 100px;
    }
    .product-description-div textarea {
        width: 100%;
        box-sizing: border-box;
    }
    .product-confirm-button-div {
        width: 100%;
        margin: 0;
        margin-top: 0.4rem;
    }
}
