.select-container {
    position: relative;
    display: flex;
    height: auto;
    flex-direction: row;
    flex: 1;
    gap: 0.5rem;
}

.select-container input {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
    width: 90%;
    z-index: 2;
}

.select-container select {
    flex: 1;
    outline: none;
    padding-left: 0.3rem;
    padding-bottom: 0;
    font-family: inherit;
}

.select-container select:focus > option:checked {
    background: rgba(0, 0, 0, 0.2);
}

.select-container select option {
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 3840px) {
    .select-container input {
        width: 96%;
    }
}

@media screen and (max-width: 2560px) {
    .select-container input {
        width: 95%;
    }
}

@media screen and (max-width: 2048px) {
    .select-container input {
        width: 94%;
    }
}

@media screen and (max-width: 1920px) {
    .select-container input {
        width: 92%;
    }
}

@media screen and (max-width: 1440px) {
    .select-container input {
        width: 91%;
    }
}

@media screen and (max-width: 1280px) {
    .select-container input {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .select-container input {
        width: 88%;
    }
}

@media screen and (max-width: 921px) {
    .select-container input {
        width: 83%;
    }
}

@media screen and (max-width: 820px) {
    .select-container input {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .select-container input {
        width: 90%;
    }
}

@media screen and (max-width: 540px) {
    .select-container input {
        width: 87%;
    }
}

@media screen and (max-width: 426px) {
    .select-container input {
        width: 82%;
    }
}

@media screen and (max-width: 320px) {
    .select-container input {
        width: 76%;
    }
}
