.login-card {
  margin: 2rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
  background-color: white;
}

.btn-password-visibility {
  margin: 0.4rem, 0, 0, 0;
  padding: 0;
  height: calc(2rem + 2px);
  background-color: transparent;
  border-radius: 5px;
  flex: 0.1;
}

@media screen and (min-width: 1024px) {
  .login-card {
    width: 650px;
  }
  #login-img {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .login-card {
    width: 250px;
  }
  #login-img {
    width: 225px;
  }
}
