.table-component-div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
    flex: 2;
}

.table-container {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    column-gap: 0.5rem;
}

.table-header {
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
}

.table-row {
    display: flex;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .table-container {
        column-gap: 0.2rem;
    }
    .table-header {
        overflow-x: scroll;
        white-space: nowrap;
        text-align: left;
        justify-content: left;
    }
    .table-row {
        overflow-x: scroll;
        white-space: nowrap;
        text-align: left;
        justify-content: left;
    }
}
