@font-face {
    font-family: Inter;
    src: url("./_resources/fonts/Inter.ttf");
}

:root {
    --matisse: #16558f;
    --lochmara: #0583d2;
    --tradewind: #61b0b7;
    --french-pass: #b8e3ff;
    --red-flag: #e36a5b;
    --green-flag: #61e32d;
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

input,
textarea {
    font-family: inherit;
    height: 2rem;
    margin: 0.4rem 0rem 0.5rem 0;
    border: none;
    border-radius: 5px;
    padding-left: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input:focus-visible,
textarea:focus-visible {
    outline: none !important;
    border: var(--tradewind) 1px solid;
    box-shadow: 0 0 10px var(--tradewind);
}

label {
    font-family: inherit;
    font-weight: bold;
}

button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--lochmara);
}

button:not(disabled):hover {
    cursor: pointer;
}

button:disabled:hover {
    cursor: not-allowed;
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: inherit;
    margin-bottom: 0.4rem;
}

p {
    font-family: inherit;
    margin: 0;
}

.title-page {
    padding-left: 1rem;
}

.initial-letter {
    font-size: 2.25rem;
}

.main-app-div {
    display: flex;
    flex: row;
    height: 100%;
    width: 100%;
}

.on-navbar-div {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 50px;
    animation: rotate 1s forwards infinite;
}

#overflow-div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
