@font-face {
    font-family: Inter;
    src: url('/public/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
    font-family: Ysabeau Infant;
    src: url('/public/Ysabeau_Infant/static/YsabeauInfant-ExtraBold.ttf');
}

:root {
    --matisse: #16558f;
    --lochmara: #0583d2;
    --tradewind: #61b0b7;
    --french-pass: #b8e3ff;
    --red-flag: #e36a5b;
    --green-flag: #61e32d;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--matisse);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--matisse);
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#root-main-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--matisse);
}

@media only screen and (max-width: 600px) {
    #root-main-div {
        gap: 0;
    }
}
